name: Coin unit test

on:
  push:  
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Load coin token
      env: 
        COIN_TOKEN: ${{ secrets.COIN_TOKEN }}
      run: echo coin_api = \"$COIN_TOKEN\" > ./local.properties
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Gradle test
      run: ./gradlew test
